
@media only screen and (max-width: 739px) {

* {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
section > .container{
  width: 700px;
  overflow: hidden;
}

/*header*/


/* navbar */
.nav-item-avatar {
  display: none;
}
.navbar-nav {
  height: 250px;
}
.nav-item {
  width: 25%;
  text-align: left;
  margin: 0 100px;
  border-left: none;
}


/*mục tiêu - thông tin*/
.row-about {
  display: grid;
  grid-template-columns: column;
}
#target {
  background-color: #f8f9fa;
} 
#personal-info {
  background-color: #f1f3f5;
}
#about {
  background-image: none;
}
.bg-grey {
  background: none;
}
.column-about {
  height: 480px
}


/*kỹ năng - cá nhân*/
.grid {
  grid-template-columns: 1fr;
}
.grid-item {
  height: 650px;
  width: 380px;
}
.like-icon {
  margin: 15px;
}
.like li {
  padding: 0 7px;
}


/*chứng chỉ-giải thưởng*/
.cert-row {
  width: 275px;
  background-color: #f1f3f5;
  top: 0;
}
.cert-column {
  width: 270px;
  border-bottom: 1px solid #d6c08d;
  height: 230px;
  margin: 15px 0;
}
.cert-column2 {
  border: none;
  padding: 0;
}
.cert-text {
  position: none;
  bottom: 0;
  left: 0;
  margin-top: 5px;
}
.cert-column img {
  border: none;
  width: 250px;
}
.clearfix {
  border-bottom: none;
}
.cert-column1 {
  border-right: none;
}


/*phần dự án*/
.cards {
  flex-direction: column;
}
.card {
  width: 380px;
  margin: 8px 0;
}


/* footer */
.footer-ul {
  margin-left: 14%;
}
#footer {
  background-color: #f1f3f5;
}

}